<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <appSettings>
        <add key="apiUrl" value="http://data.fixer.io/api/latest?access_key=5e80479e70880d0fa309c6399ae64690&amp;symbols=USD,AUD,CAD,PLN,MXN&amp;format=1" />
        <add key="contentTypeHeader" value="Content-Type:application/json" />
        <add key="acceptHeader" value="Accept:application/json" />
        <add key="base" value="base" />
        <add key="rates" value="rates" />
  </appSettings>
  <connectionStrings>
    <add name="prod" connectionString="YourConnectionString"/>
  </connectionStrings>
</configuration>